<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
          body {background-color:#F8ECE0; }

      h1{
          font-family: 'Gaegu', cursive;
          font-size: 40px;
          color:grey;

      }  
      p{ 
          font-family: cursive;
        font-size: 20px;
      }
      #main {background-color: rgb(255, 255, 255); }
     
    </style>
    
</head>
<body>
   {% for obj in posts.all %}
   <div id = 'main'>
   <h1>제목: {{ obj.title }} </h1>
   <p>내용: {{ obj.body }} </p>
   <p>{{ obj.pk }}</p>
   <p>올린날짜: {{ obj.date }} </p>
   <a href="{% url 'detail' obj.pk %}">자세히보기</a>
   <a href="{% url 'delete' obj.pk %}">삭제하기</a>
   <button type= 'button' onclick= "location.href ='{% url 'create' %}'">새글쓰기</button>
   {% endfor %}
   
</body>


</html>